

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-family: 'Raleway';
}
p{
      font-size: 13.5px;
      color: #363636;
      line-height: 2em;
    }

.navbar{
	height: 100px;
	margin-bottom: 0px;
    background-color: transparent;
    background-image: none !important;
}
.navbar-right{
	margin-top: 3%;
}
.active{
	color: #fff !important;
}

hr{
	background-color: #bbb !important;
	color: #bbb !important;
}
.navbar a{
	color: rgba(255, 255, 255, 0.65);
	letter-spacing: 1px;
	text-shadow: none !important;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Raleway';
}
 .navbar-nav>li>a:hover{
 	background-color: rgba(0,0,0,0);
 	color: #27ae60;
 }
#bord{
	border: 1px solid #fff;
}
#logo-nca{
	width: 25%;
	margin-top: -20px;
	margin-left: -15px;
	display: none;
	-webkit-transition: 1s;
}
.item-wrap{
	background-color: rgba(0,0,0,0.6);
	height: 100%;
}
.test-wrap{
	background-color: rgba(0,0,0,0.6);
	height: 100%;
}
.carousel-caption{
   text-align: left;
   left: 5%;
}
.carousel .item{
	left: 0 !important;
	 -webkit-transition: opacity .4s !important; /*adjust timing here */
         -moz-transition: opacity .4s;
           -o-transition: opacity .4s;
              transition: opacity .4s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}
#item-0, #item-1, #item-2{
	height: 705px;
	background-size: cover;
	background-repeat: no-repeat;
}

#item-0{
	background-image: url(http://jrpeasee.github.io/nca-rework/img/head-img.jpg);
}
#item-1{
	background-image: url(http://www.ncaswim.com/img/banners/site/img9.jpg);
}
#item-2{
	background-image: url(http://jrpeasee.github.io/nca-rework/img/nca-3.jpg);
}

.carousel .carousel-indicators li{
	background: rgba(255,255,255,0.5);
	border-color: rgba(255,255,255,0.5) !important;
}
 .carousel-indicators li.active {
  background-color: #27ae60;
  border-color: #27ae60;
}
#head-title{
	color: #fff;
	margin-top: 25%;
}
#head-title h1{
	font-size: 3.5em;
	font-weight: 600;
	letter-spacing: 1.5px;
}
#head-title h3{
	font-weight: 400;
	font-size: 17px;
	letter-spacing: 1px;
	opacity: 1;
}
.navbar-header{
	padding-top: 0px;
}
 
.navbar-nav{
	padding-top: 15px;
}
.brand{
	background-color: #27ae60;
	color: #fff !important;
	font-size: 22px !important;
	letter-spacing: 2px;
	font-family: 'Arvo';
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 70px;
	padding-top: 25px;
	padding-left: 30px;
	padding-right: 30px;
}
a.btn-cta-primary, .btn-cta-primary {
background: rgba(0,0,0,0);
font-weight: 600;
padding: 15px 60px;
font-size: 14px;
text-transform: uppercase;
border: 4px solid #27ae60;
border-radius: 0px;
color: #fff;
margin-top: 30px;
margin-bottom: 20px;
}
button{
	color: #fff !important;
}
.play-trigger {
color: #fff !important;
font-weight: bold;
text-transform: uppercase;
font-size: 12px;
-webkit-opacity: 0.7;
-moz-opacity: 0.7;
opacity: 0.7;
text-decoration: none;
}

/* ======= Testimonials ======= */
.testimonials {
  background: #fff;
   	background-image: url(http://cdn.swimswam.com/wp-content/uploads/2014/08/Stewart_Kendyl-19-Kendyl-Stewart-North-Coast-Aqua-USC-Stewart-TB1_2164-.jpg);
	background-size: cover;
	background-position: 50%;
	height: 450px;
}
.testimonials .container{

}
.test-title{
	margin-top: 8% !important;
}
.testimonials .carousel-indicators {
  bottom: -60px;
  z-index: auto;
}
.testimonials .carousel-indicators li {
  background: #cccccc;
  border: none;
  margin: 1px;
}
.testimonials .carousel-indicators li.active {
  background: #27ae60;
  border: none;
  width: 10px;
  height: 10px;
  margin: 1px;
}
.testimonials h2{
	color: #fff;
}
.testimonials .title {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 60px;
}
.testimonials .item .profile {
  position: absolute;
  left: 0;
}
.testimonials .item .content {
  padding-left: 210px;
}
.testimonials .item .content p {
	color: #fff;
}
.testimonials .item blockquote {
  font-size: 20px;
  font-weight: 300;
  border-left: 0;
  padding: 0;
  position: relative;
}
.testimonials .item blockquote .fa {
  position: absolute;
  color: #27ae60;
  font-size: 22px;
  left: -45px;
}
.testimonials .item .source {
  color: #27ae60 !important;
}
.testimonials .item .source .title {
  font-size: 16px;
  color: #fff;
  opacity: 0.8;
}

.content p{
	color: #444;
}

#footer{
	background: #2c3e50;
font-size: 0.9em;
padding: 80px 0 0;
position: relative;
clear: both;
}
#footer h3{
	color: #f9f9f9;
margin-bottom: 25px;
font-size: 18px;
font-weight: 400;
font-style: normal;
}
#footer p{
	color: #999;
line-height: 24px;
margin: 0 0 20px;
}

.contact strong {
margin-right: 10px;
font-weight: bold;
}

.footer-btm {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
margin-top: 30px;
padding: 20px;
background-color: #2c3e50;
color: #fff;
}

.social-1 li a i {
width: 32px;
height: 32px;
line-height: 32px;
text-align: center;
color: #fff;
font-size: 16px;
-webkit-transition: all 200ms ease-in;
-o-transition: all 200ms ease-in;
-moz-transition: all 200ms ease-in;
transition: all 200ms ease-in;
}
.social-1 li a i.fa-facebook {
background-color: #3b5998;
}
.social-1 li a i.fa-twitter {
background-color: #0084b4;
}
.social-1 li a i.fa-envelope {
background-color: #27ae60;
}

#em{
	color:  #27ae60 !important;
}
.input-group{
	margin-bottom: 10px;
}
.subscribe-form input, textarea{
	 
}

.more{
	 background-color: #27ae60 !important;
}
.cbp-af-header{
 transition: 0.4s;
}


.cbp-af-header-shrink{
	background-color: rgba(255,255,255,1); !important;
	height: 70px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.cbp-af-header-shrink .navbar-right{
	margin-top: 0%;
}

.cbp-af-header-shrink #logo-nca{
	display: initial;
}
.cbp-af-header-shrink .brand{
	background-color: rgba(0,0,0,0);
	color: rgba(0,0,0,0);
}
.cbp-af-header-shrink a{
	color: #222;
	font-weight: 300;
}

.cbp-af-header-shrink .active{
	font-weight: 600;
	color: #27ae60!important;
}

.cbp-af-header-shrink #bord{
	background-color: #27ae60;
	color: #fff !important;
	border-radius: 3px;
}


.padding-80{
    padding: 80px 0;
}
.center-header{
    text-align: center;
    margin-bottom: 40px;
}
.center-heading{
    font-weight: 300;
    font-size: 44px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase;
    color:#444;

}
.center-header p{
    font-weight: 300;
    font-size: 16px;
}
span.center-line{
    display: inline-block;
    width:60px;
    height: 1px;
    background-color: #27ae60;
    text-align: center;
    margin-bottom: 10px;
}
.about-p{
	text-align: center;
	line-height: 22px;

}
.cta{
	background: #ebeeed;
	height: 400px;
	background-position: 50%;
}

#last-wrap h1{
	margin-top: 11%;
}

#affiliates li{
	display: inline-block;
	margin-right: 10px;
}

#affiliates li a img{
   width: 200px;
}

#mrm{
	height: 80px;
}

#exos{

}

#hammer{
 height: 80px;
}
.icon-bar{
	background-color: #27ae60;
}

.navbar-toggle{
	border: 1px solid #fff;
	height: 50px;
	color: #222 !important;
	display: block !important
	background-color: #333 !important;
}

@media screen and (max-width: 55em){
	#head{
		height: 400px;
	}
	#wrap{
		height: 400px;
	}
	#head h1{
		font-size: 2em;
	}
	#head h3{
		font-size: 1em;
	}
	.btn-cta{
		font-size: 12px !important
	}
   .cta{
   	height: 300px;
   }

   .center-heading, .title{
   	font-size: 2em !important;
   }

  .testimonials .item .source .title{
   	font-size: 1.2em !important;
   }
   p{
   	font-size: 12px;
   }
	.brand{
		margin-top: -66px;
	}
	#affiliates li a img{
	margin-top: 30px;
	width: 80px;
	height: 50px;
	margin-bottom: 30px;
  }
  .footer-col h3{
  	text-align: center;
  }
  .subscribe-form input, textarea{
	width: 600px !important;
 } 
}

#form-head{
	background-image: url(http://www.ncaswim.com/img/banners/site/img7.jpg);
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}
#form-wrap{
	height: 400px;
	background-color: rgba(0,0,0,0.5);
}
#form-head-title {
position: relative;
height: 100%;
}
#form-head-title h1{
	position: relative;
	color: #fff;
	font-weight: 500;
	top:50%;
	text-align: center;
}

#month, #day, #year{
	display: inline-block !important;
}

.form-title h2{
	font-size: 1.4em;
	line-height: 1.2em;
	color: #27ae60;
}
#form-info{
	margin-top: 30px;
}
.panel-title{
	color: #27ae60;
}
.panel-group{
	margin-top: 20px;
}
#map-canvas {
  height: 400px;
}


/************team section css here*****/
.list-inline .social-1{
	margin-top: 10px;
}
.team-wrap{
    padding: 3px 3px 20px;
    border: 1px solid #eee;
    text-align: center;
}
.team-wrap h4{
    margin-bottom: 3px;
    margin-top: 10px;
}
.team-wrap span{
    font-size: 12px;
    text-transform: uppercase;
    color:#777;
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
}
.team-wrap img{
width:255px;
height: 170;
}
h3.heading {
border-bottom: 1px solid #E5E5E5;
color: #060606;
font-size: 14px;
font-weight: 600;
font-style: normal;
margin: 0 0 25px;
padding-bottom: 10px;
position: relative;
text-transform: uppercase;
}

h3.heading:before {
position: absolute;
content: "";
height: 1px;
background: #27ae60;
width: 90px;
bottom: -1px;
left: 0px;
}
a{
	color: #27ae60;
}
#teamm{
	margin-top: 5%;
}

.margin20{
	margin-bottom: 5%;
}

.btn-theme-bg {
border-color: #27ae60 !important;
color: #fff;
background-color: #27ae60 !important;
text-transform: uppercase;
font-family: 'Raleway';
}
.breadcrumb-wrap{
	margin-top: 5.5%;
padding: 25px 0;
background: #eee;
}
.breadcrumb{
	background: #eee;
}




/*====================================
===========Contact Us=================
=====================================*/
#contact {
	padding-top:55px;
	background-color: #f5f5f5;
}

#contact .section-title {
	margin-bottom:50px;
	text-align: center;
}

#contact i {
	font-size:48px;
	color: #27ae60;
}

#contact .contact-info {
	display: inline-block;
	margin-left: 15px;
	overflow: hidden;
}

#contact a.contact-info {
	line-height:30px;
	color:#454545;
}
.contact-btn{
	background-color: #27ae60 !important;
	border-radius: 0px;
	border: 1px solid #27ae60;
	width:100%;
	padding: 15px 0px;
}
.contact-details {
	margin-bottom:45px;
}

#contact-form input {
	border-color: #cfd2d8;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 10px;
	min-height:44px;
	padding:6px 18px;
}
.input-group{
	width: 350px;
}
#contact-form textarea {
	resize:none;
	box-shadow:none;
	border-radius:0;
	margin-top:-10px;
	padding:12px 18px;
	margin-bottom:20px;
}
footer span{
	margin-left: auto;
	margin-right: auto;
}
  #map {
      width: 400px;
      height: 400px;
    }



.media {
	background: #fff;
	border-bottom: solid 1px #c7c9c8;
	margin-bottom: 30px;
}

.media a {
	overflow: hidden;
}

.media-img {
	overflow: hidden;
	position: relative;
	padding: 0;
}

.media-img .img-overlay {
	background: #363635;
	background: rgba(0,0,0, 0.4);
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 50%;
	text-align: center;
	z-index: 4;
	-webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: opacity 0.3s ease-out;  /* Opera 10.50–12.00 */
	transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
	opacity: 0;
	visibility: hidden;
}

.lt-ie9 .media-img .img-overlay {
	filter: alpha(opacity=70);
}

.media .img-overlay a {
	display: none;
	position: relative;
	margin-top: -24px;
}

.media:hover .img-overlay a,
.media .img-overlay:hover a {
	display: inline-block;
}

.media .img-overlay h3 {
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 25px;
	font-size: 18px;
	margin-top: -40px;
}

.media:hover .img-overlay,
.media .media-img:hover .img-overlay {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
	-moz-transition: opacity 0.3s ease-out;  /* Firefox 4-15 */
	-o-transition: opacity 0.3s ease-out;  /* Opera 10.50–12.00 */
	transition: opacity 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.media p {
	font-size: 14px;
	line-height: 19px;
}

.media a:hover {
	text-decoration: none;
}

.media-body {
	padding: 20px 30px 10px 35px;
}

.media div.pull-left {
	overflow: hidden;
	margin-right: -15px;
	margin-left: 14px;
}

.media div.media-img img {
	-webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 2000ms;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 2000ms;
	transform: scale(1, 1);
	transition-timing-function: ease-out;
	transition-duration: 2000ms;
	width: 100%;
	height: auto;
}

.media:hover div.media-img img {
	-webkit-transform: scale(1.15, 1.15);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 1500ms;
	-moz-transform: scale(1.15, 1.15);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: 1500ms;
	transform: scale(1.15, 1.15);
	transition-timing-function: ease-out;
	transition-duration: 1500ms;
	position: relative;
	z-index: 3;
}

.media .media-testo {
	margin-top: 20px;
	margin-right: 20px;
}

 
